body {
  background-color: #011F5b;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5% 15%;
}

.res-name{
  text-align: center;
  text-transform: uppercase;
}

.edu-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 3px solid #990000;
  border-bottom: 3px solid #990000;
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 3px solid #990000;
  border-bottom: 3px solid #990000;
}

.info-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 3px solid #990000;
  border-bottom: 3px solid #990000;
}

.wharton-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ucsd-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
